.about {
    position: relative;
    margin-top: 80px;
    margin-bottom: 80px;
}

.topComposition {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.leftBlock, .rightBlock {
    width: 50%;
}

.leftBlock {
    padding-right: 20px;
}

.leftBlock p {
    font-size: 18px;
    line-height: 30px;
    margin-top: -5px;
}

.rightBlock {
    padding-left: 20px;
}

.rightBlock img {
    width: 100%;
    height: auto;
}